<div class="form-carga-container">
    <!-- Formulario para Crear/Editar Actividad de Proyecto -->
    <div class="form-container">
      <h2 class="text-center mb-4">{{ isEditing ? 'Editar Actividad de Proyecto' : 'Registrar Actividad de Proyecto' }}</h2>
  
      <form [formGroup]="actividadProyectoForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="codigo" class="form-label">Código:</label>
          <input type="text" id="codigo" class="form-control" formControlName="codigo">
        </div>
  
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre:</label>
          <input type="text" id="nombre" class="form-control" formControlName="nombre">
        </div>
  
        <div class="mb-3">
          <label for="descripcion" class="form-label">Descripción:</label>
          <textarea id="descripcion" class="form-control" formControlName="descripcion"></textarea>
        </div>
  
        <div class="mb-3">
          <label for="faseId" class="form-label">Fase:</label>
          <select id="faseId" class="form-control" formControlName="faseId.id">
            <option *ngFor="let fase of fases" [value]="fase.id">{{ fase.nombre }}</option>
          </select>
        </div>
  
        <!-- Mostrar estado solo si estamos editando -->
        <div *ngIf="isEditing" class="mb-3">
          <label for="estado" class="form-label">Estado:</label>
          <div class="form-check form-switch">
            <input type="checkbox" class="form-check-input" id="state" formControlName="state">
            <label class="form-check-label" for="state">{{ actividadProyectoForm.get('state')?.value ? 'Activo' : 'Inactivo' }}</label>
          </div>
        </div>
  
        <div class="modal-footer d-flex justify-content-center">
          <button type="submit" class="btn btn-primary">{{ isEditing ? 'Actualizar' : 'Guardar' }}</button>
        </div>
      </form>
    </div>
  
    <!-- Sección de carga masiva al lado del formulario -->
    <div class="carga-masiva-container">
      <h3>Carga Masiva</h3>
      <input type="file" (change)="onFileSelected($event)" class="form-control">
      <button class="btn btn-success mt-3" (click)="uploadExcel()">Subir Excel</button>
    </div>
  </div>
  
  <!-- Tabla dinámica para mostrar las actividades de proyecto -->
  <div class="table-container mt-5">
    <h2 class="text-center mb-4">Lista de Actividades de Proyecto</h2>
    <div class="table-responsive">
      <app-table [headers]="headers" [data]="actividadesProyecto" (edit)="onEdit($event)" (delete)="onDelete($event)"></app-table>
    </div>
  </div>
  