<div class="form-carga-container">
    <!-- Formulario para Crear/Editar Vistas-Roles -->
    <div class="form-container">
      <h2 class="text-center mb-4">{{ isEditing ? 'Editar Vistas-Roles' : 'Registrar Vistas-Roles' }}</h2>
  
      <form [formGroup]="vistasRolesForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="vistaId" class="form-label">Vista:</label>
          <select id="vistaId" class="form-control" formControlName="vistaId">
            <option *ngFor="let vista of vistas" [value]="vista.id">
              {{ vista.nombre }}
            </option>
          </select>
        </div>
  
        <div class="mb-3">
          <label for="roleId" class="form-label">Rol:</label>
          <select id="roleId" class="form-control" formControlName="roleId">
            <option *ngFor="let role of roles" [value]="role.id">
              {{ role.nombre }}
            </option>
          </select>
        </div>
  
        <!-- Mostrar estado solo si estamos editando -->
        <div *ngIf="isEditing" class="mb-3">
          <label for="estado" class="form-label">Estado:</label>
          <div class="form-check form-switch">
            <input type="checkbox" class="form-check-input" id="state" formControlName="state">
            <label class="form-check-label" for="state">{{ vistasRolesForm.get('state')?.value ? 'Activo' : 'Inactivo' }}</label>
          </div>
        </div>
  
        <div class="modal-footer d-flex justify-content-center">
          <button type="submit" class="btn btn-primary">{{ isEditing ? 'Actualizar' : 'Guardar' }}</button>
        </div>
      </form>
    </div>
  
    <!-- Sección de carga masiva al lado del formulario -->
    <div class="carga-masiva-container">
      <h3>Carga Masiva</h3>
      <input type="file" (change)="onFileSelected($event)" class="form-control">
      <button class="btn btn-success mt-3" (click)="uploadExcel()">Subir Excel</button>
    </div>
  </div>
  
  <!-- Tabla dinámica para mostrar las Vistas-Roles -->
  <div class="table-container mt-5">
    <h2 class="text-center mb-4">Lista de Vistas-Roles</h2>
    <div class="table-responsive">
      <app-table [headers]="headers" [data]="vistasRoles" (edit)="onEdit($event)" (delete)="onDelete($event)"></app-table>
    </div>
  </div>
  