<div class="form-carga-container">
    <!-- Formulario para Crear/Editar Centro de Formación -->
    <div class="form-container">
      <h2 class="text-center mb-4">{{ isEditing ? 'Editar Centro de Formación' : 'Registrar Centro de Formación' }}</h2>
  
      <form [formGroup]="centroFormacionForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre:</label>
          <input type="text" id="nombre" class="form-control" formControlName="nombre">
        </div>
  
        <div class="mb-3">
          <label for="direccion" class="form-label">Dirección:</label>
          <input type="text" id="direccion" class="form-control" formControlName="direccion">
        </div>
  
        <div class="mb-3">
          <label for="telefono" class="form-label">Teléfono:</label>
          <input type="text" id="telefono" class="form-control" formControlName="telefono">
        </div>
  
        <div class="mb-3">
          <label for="regionalId" class="form-label">Regional:</label>
          <select id="regionalId" class="form-control" formControlName="regionalId">
            <option *ngFor="let regional of regionales" [value]="regional.id">
              {{ regional.nombre }}
            </option>
          </select>
        </div>
  
        <div class="mb-3">
          <label for="ciudadId" class="form-label">Ciudad:</label>
          <select id="ciudadId" class="form-control" formControlName="ciudadId">
            <option *ngFor="let ciudad of ciudades" [value]="ciudad.id">
              {{ ciudad.nombre }}
            </option>
          </select>
        </div>
  
        <!-- Mostrar estado solo si estamos editando -->
        <div *ngIf="isEditing" class="mb-3">
          <label for="estado" class="form-label">Estado:</label>
          <div class="form-check form-switch">
            <input type="checkbox" class="form-check-input" id="state" formControlName="state">
            <label class="form-check-label" for="state">{{ centroFormacionForm.get('state')?.value ? 'Activo' : 'Inactivo' }}</label>
          </div>
        </div>
  
        <div class="modal-footer d-flex justify-content-center">
          <button type="submit" class="btn btn-primary">{{ isEditing ? 'Actualizar' : 'Guardar' }}</button>
        </div>
      </form>
    </div>
  
    <!-- Sección de carga masiva al lado del formulario -->
    <div class="carga-masiva-container">
      <h3>Carga Masiva</h3>
      <input type="file" (change)="onFileSelected($event)" class="form-control">
      <button class="btn btn-success mt-3" (click)="uploadExcel()">Subir Excel</button>
    </div>
  </div>
  
  <!-- Tabla dinámica para mostrar los centros de formación -->
  <div class="table-container mt-5">
    <h2 class="text-center mb-4">Lista de Centros de Formación</h2>
    <div class="table-responsive">
      <app-table [headers]="headers" [data]="centrosFormacion" (edit)="onEdit($event)" (delete)="onDelete($event)"></app-table>
    </div>
  </div>
  